
click
pytz
PyYAML
halo
tqdm
deepdiff

fhir.resources==7.1.0  # FHIR Model
orjson
nested_lookup

gen3
# our fork of indexclient - adds auth to all indexd gets
indexclient@git+https://github.com/ohsu-comp-bio/indexclient.git@b9d02873df787bf4fb98869521fd287d39c668aa


# json web token
PyJWT==2.8.0

pydantic
requests


pandas
matplotlib==3.8.4  # see https://github.com/pydata/pandas-datareader/issues/969
numpy
pyvis==0.3.2  # see https://github.com/holoviz/holoviz/issues/25
# dtale
ndjson
inflection
python-dateutil

deepmerge
